body {
    margin: 0;
    height: 100vh;
    font-family: "Inter", Roboto;
}

#container {
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
}

#sidebar {
    background-color: rgb(246, 246, 246);
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

#sidebar h1 {
    padding-left: 25px;
}

#sidebar #top {
    display: flex;
    align-items: center;
    gap: 70px;
}

#add-project {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid rgb(172, 172, 172);
    font-size: 40px;
}

#projects {
    padding-left: 25px;
}

.project {
    width: 225px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgb(172, 172, 172);
    font-size: 20px;
}

.project-div {
    display: flex;
    align-items: center;
    margin-bottom: center;
}

#trash {
    border: none;
    background: none;
}

#trash img {
    width: 30px;
    display: block;
}

#display {
    margin: auto;
    width: 750px;
    height: 100%;
}

#tasks-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

#tasks-header button {
    height: 35px;
    width: 35px;
    border-radius: 10px;
    border: 1px solid rgb(172, 172, 172);
    font-size: 30px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

td button {
    border: none;
    background: none;
}

td button img {
    height: 20px;
}